:root {
    --first: #012840;
    --second: #024959;
    --third: #1acdd3cc;
    --fourth: #ffffff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:#03658C;
}

a {
    color: var(--fourth) ;
}

p {
    font-size: 16px;
}

/*------START HEADER SECTION-----*/
.header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--first);
    color: var(--fourth);

}

.header h1 {
   box-sizing: border-box;
   display: inline-block;
   font-size: 60px;
   padding: 25px 10px;
   background-color: var(--third);
   color: var(--first);
   padding-left: 100px;
   padding-right: 30px;
   border-radius: 15px 0;
}


.header nav {
    padding-top: 25px;
    margin-right: 40px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 30px;
    border-bottom: var(--fourth);
}

li:hover {
    opacity: 25%;
}

/*-----START HERO SECTION-----*/
.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.hero h2 {
    float: right;
    margin-top: 200px;
    margin-right: 30px;
    font-size: 50px;
    color: var(--fourth);
    background: var(--first);
    padding: 10px;
    opacity: 70%;
}


/*-----START CONTENT SECTION-----*/
.content, .footer {
    width: 100%;
    display: inline-block;
    margin-left: 50px;
}

.content article, .footer article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--fourth);
}


.content h2, .contact-me h2 {
    margin-left: 20px;
    padding: 20px;
    float: left;
    width: 20%;
    height: 100%;
    border-right: 10px solid var(--first);
    font-size: 70px;
    text-align: right;
}

/* ------START ABOUT ME SECTION----- */
.about-me h2 {
    height: 300px;
    margin-bottom: 0px;
}

.about-me p {
    font-size: 25px;
    margin-left: 275px;
    padding-left: 80px;
    padding-top: 5px;
    text-align: justify;
    text-justify: inter-word;
}

.about-me img {
    margin: 0px 20px;
    padding: 20px;
    border-radius: 30px;
    max-height: 250px;
    float: right;
}

/* -----START WORK SECTION----- */
.work h2 {
    height: 900px;
    margin-top: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: space-between;
  padding-left: 50px;
  position: relative;
  z-index: 1;
}

.flex-container h3, .flex-container h4 {
    margin-top: 200px;
    width: 100%;
    background-color: var(--first);
    color: var(--fourth);
    padding: 10px 5px;
    text-align: left;
    z-index: 1;
}

.flex-container h4 {
    font-size: medium;
    margin-top:auto;
}

/*----- RUN BUDDY SECTION STARTS HERE-----*/
.run-buddy{
    background-image: url(../images/run-buddy.jpg);
    display: flex;
    width: 100%;
    height: 465px;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 15px;
    border: 6px solid var(--first);
    font-weight: bold;
    box-sizing: border-box;
    display: inline-block;
    padding-right: 800px;
    background-size: cover;
    opacity: 60%;
}


.run-buddy h3, .flex-item h3 {
    font-size: 30px;
    margin-top: 300px;
    padding-left: 20px;
}

.run-buddy h4, .flex-item h4 {
    font-size: 20px;
    padding-left: 20px;
}

.run-buddy:hover, .flex-item:hover{
    opacity: 100%;
}

/*-----still need to figure out how to make background transparent without having the text to be transparent as well*/

/* -----OTHER WORK SECTION STARTS HERE----- */
.flex-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 525px;
    height: 200px;
    padding: 20px 0;
    margin-bottom: 15px;
    border: 6px solid var(--first);
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;
    display: inline-block;
    background-size: cover;
    opacity: 60%;
}

.flex-item h3 {
    margin-top: 50px;
    width: 300px;
    padding-left: 25px;
}

.flex-item h4 {
   width: 300px;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: 100;
   padding-left: 25px;
}



#surf {
    background-image: url(../images/surf.jpg);
}

#led-wall {
    background-image: url(../images/led-wall.jpg);
}

#pastel {
    background-image: url(../images/pastel.jpg);
}

#calculator {
    background-image: url(../images/calculator.jpg);
}


    



/* ------START CONTACT ME SECTION----- */
.contact-me h2 {
    text-align: right;
    width: min-content;
    margin-left: 0px;
    padding-left: 0px;    
}

.contact-me nav {
    padding-top: 25px;
    margin-right: 150px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.contact-me nav ul {
    list-style-type: none;
    padding-top: 35px;
    padding-left: 0;

}

.contact-me nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-style: solid;
    
}


/*MEDIA QUERIES*/

@media screen and (max-width: 575px) {
    body {
        background-color: var(--second);
      }
    
      .content{
        width: 100%;
        padding: 20px;
      }
    
      #main-content,
      #sidebar {
        width: 100%;
      }
    
      #sidebar {
        margin-top: 40px;
      }
    
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 980px) {

}